<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <script src="js/libraries/angular.min.js"></script>
    <script src="js/rrController.js"></script>
    <script src="js/libraries/canvasjs.min.js"></script>
    <link href="css/chart.css" rel="stylesheet"/>

</head>
<body ng-app="rrgraphs" ng-controller="ApartController">
<div ng-controller="getAparts" id="main">

    <div id="painting" cellspacing="2" border="1">

    </div>
</div>

</body>
</html>